
.carousel-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
   
    background-color: #ec821a;  
    color: white;
    border: none;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    cursor: pointer;
    font-size: 18px;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}
.carousel-btn.left {
    left: -30px; 
    padding: 25px; 
}
.carousel-btn.right {
    right: -30px; 
    padding: 9px;
}
@media (max-width: 768px) {
.carousel-btn {
width: 30px;
height: 30px;
font-size: 14px;
}
.carousel-btn.left {
left: -10px;
}
.carousel-btn.right {
right: -10px;
}
}