:root {
    --carousel-btn-bg: #ec821a;
    --carousel-btn-color: white;
}

[data-theme="dark"] {
    --carousel-btn-bg: #d35400;
    --carousel-btn-color: white;
}

.carousel-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);

    background-color: var(--carousel-btn-bg);
    color: var(--carousel-btn-color);
    border: none;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    cursor: pointer;
    font-size: 18px;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}
.carousel-btn.left {
    left: -30px;
    padding: 25px;
}
.carousel-btn.right {
    right: -30px;
    padding: 9px;
}
