.search-bar {
    position: relative;
    margin: 0 auto;
    left: 20%;
    display: inline-block;
    width: 300px; /* Ajuste a largura conforme necessário */
}

#search-input{
   box-shadow: 0 2px 8px rgba(0, 0, 0, 0.4);
}

#suggestions-box {
    position: absolute;
    background-color: #fff;
    /*border: 1px solid #dadada;*/
    border-radius: 5px;
    width: 135%;
    max-height: 200px;
    overflow-y: auto;
    z-index: 1000; /* Garantir que a caixa apareça acima */
    margin-top: 5px;

}


.suggestion-item {
    display: flex; /* Flexbox para alinhar a imagem e o texto */
    align-items: center;
    padding: 10px; /* Espaçamento interno */
    text-decoration: none; /* Remove o sublinhado do link */
    color: #333; /* Cor padrão do texto */
    border-bottom: 1px solid #dadada;
}

.suggestion-item:hover {
    background-color: #f0f0f0; /* Cor de fundo ao passar o mouse */

}

/* Para as imagens */
.suggestion-img {
    width: 40px; /* Largura da imagem */
    height: 40px; /* Altura da imagem */
    margin-right: 10px; /* Espaçamento à direita da imagem */
    border-radius: 5px; /* Bordas arredondadas para a imagem */
}

/* Para a seção de informações do produto */
.suggestion-info {
    display: flex; /* Flexbox para empilhar os textos */
    flex-direction: column; /* Textos empilhados verticalmente */
}

.suggestion-info p {
    margin: 0; /* Remove margens padrão */
    font-size: 14px; /* Tamanho da fonte */
}

.suggestion-info strong {
    color: #3640638c; /* Cor para o preço em destaque */
    font-size: 16px; /* Tamanho maior para o preço */
}

/* Estilo para links dentro do item de sugestão */
a {
    display: flex; /* Garante que o link ocupe toda a área */
    text-decoration: none; /* Remove o sublinhado dos links */
    color: inherit; /* Mantém a cor do texto igual ao elemento pai */
}
















